* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Sans-Serif;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
	/* HEADER BEGIN */
header {
 width: 100%;
 height: 70px;
 background: #0f0e16;
}
nav {
	margin-left: 5%;
}
nav li {
	float: left;
	margin: 26px 20px 0 20px;

}
nav li a {
	color: #e0e0e0;
	font-size: 16px;
}
.aRight {
	color: #e0e0e0;
	font-size: 16px;
	float: right;
	margin: 26px 5% 0 20px;
}
nav a:hover {
	color: white;
}
	/* HEADER AND */
	/* CONTENT BEGIN */
	/* CONTENT UP BEGIN */
.spase {
	background: url(img/fade.png) no-repeat center center;
	width: 100%;
	height: 482px;
}
div.contentUp {
	height: 110px;
	padding: 25px 0 0 80px;
	float: left;
}
div.contentUp h1 {
	font-size: 30px;
	text-shadow: 0 0 10px #000000;
	color: #e0e0e0;
	letter-spacing: 5px;
}
div.contentUp p {
	color: grey;
	padding-left: 86px;
}
div.adver {
	height: 90px;
	width: 480px;
	opacity: 0.3;
	border: 2px solid white;
	background: grey;
	text-align: center;
	color: white;
	float: right;
	margin-left: 160px;
}
div.adver:hover {
	opacity: 1;
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}
div.adver i {
 	line-height: 90px;
}
div.fl {
	float: left;
}
div.shadow {
	width: 900px;
	height: 340px;
	background: black;
	opacity: 0.5;
	margin: 0 auto;
	clear: left;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}
div.onShadow{
	width: 880px;
	height: 320px;
	background: black;
	position: relative;
	top: -330px;
	left: 160px;
	right: 160px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}
div.onShadow div {
	width: 400px;
	height: 300px;
	float: left;
	padding: 10px;
}
div.onShadow div p {
	color: grey;
	font-size: 12px;
}
div.onShadow div:first-child {
	color: snow;
}
div.onShadow div span {
	color: #c1c1cb;
}
div.onShadow div.makBook {
	background: url(img/Macbook.png) center center no-repeat;
}
div.onShadow div.makBook a {
	font-size: 12px;
	display: block;
	color: #0561ad;
	margin: 280px 0 20px 239px;
}
div.onShadow div.makBook a:hover {
	color: aqua;
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}
/* CONTENT UP END */
/* CONTENT DOWN BEGIN */
div.contentDown {
	background: #e8e8e8;
	position: absolute;
	width: 1200px;
}
div.contentDown h2 {
	text-indent: 150px; 
	text-shadow: 0 0 10px #717171;
	margin: 20px 0 20px 0;
}
div.contentDown p, hr {
	margin: 10px  150px 0 150px; 
	color: #626262;
}
div.contentDown hr {
	margin-right: 150px;
}
/* CONTENT LEFT BEGIN */
.contentLeft {
	width: 600px;
	margin-top: 20px;
	float: left;
}
.contentLeft h3, hr {
	padding-left: 150px; 
	margin-top: 10px;
	margin-right: 0px;
}
div.com1, div.com2 {
	padding: 10px 0 0 150px; 
	font-size: 12px;
}
div.comFoto1 {
	background: url(img/1267.jpg);
	height: 100px;
	width: 100px;
	float: left;
	border: 3px solid white;
}
div.coment {
	padding-left: 110px;
	margin-bottom: 10px;
}
/* CONTENT LEFT END */
/* CONTENT RIGHT BEGIN */
div.contentRight {
	padding-left: 600px;
	margin: 30px 0 0 40px;
}
div.contentRight hr {
	padding-left: 0px;
	margin: 10px 150px 10px 0;
}
div.pict {
	background: white;
	height: 100px;
	width: 410px;
}
div.picture {
	width: 100px;
	height: 100px;
	float: left;
	padding: 0;
	margin: 0 1px 0 1px;
}
div.sometext hr {
 	margin-right: 10px;
}
div.sometext div.sometext1 p, div.sometext2 p {
 	margin: 0;
}
div.sometext1, div.sometext2 {
	margin-top: 10px;
	width: 205px;
	float: left;
	font-size: 12px;
}
form .email {
	padding: 5px;
	border: 3px solid #e5e5e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f2f2f2;
	color: #e5e5e5;
	margin-top: 30px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 190px;
}
div.buttonEmail {
	width: 410px;
	padding-top: 180px;
}
div.buttonEmail button {
	width: 150px;
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #3592eb;
	background-color: #f7f7f7;
	margin-right: 50px;
	margin-bottom: 20px; 
	cursor: pointer;
}
div.buttonEmail button:hover {
	background-color: white;
	color: blue;
}
/* CONTENT RIGHT END */
/* CONTENT DOWN END */
/* CONTENT END */
/* FOTTER BEGIN */
footer {
	font-size: 12px;
	height: 64px;
	width: 100%;
	background: #0f0e16;
	margin-top: 662px;
}
footer div.footer_text {
	color: #e0e0e0;
	width: 400px;
	height: 44px;
	margin-left: 150px;
	padding-top: 20px;
	float: left;
}
footer div.fallowUs {
	color: #e0e0e0;
	padding-top: 20px;
	margin-left: 835px;
}
footer div.fallowUs div {
	margin: -2px 8px 0 0;
	float: left;
}
/* FOTTER END */